@model MyHorrorMovieApp.Models.Movie

@{
    ViewData["Title"] = "Create";
}
@{
    // Retrieve the token from ViewData
    string token = ViewData["Token"] as string;
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createMovieForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title: </label>
                @* <input asp-for="Title" class="form-control" /> *@
                <input type="text" name="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image: </label>
                @* <input asp-for="Image" class="form-control" /> *@
                <input type="text" name="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                    style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Create</button>
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a href="/Movies?token=@ViewData["Token"]" style="text-decoration: none;">
        <button
            style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Back
            to Movies</button>
    </a>
</div>

<script>
    document.getElementById('createMovieForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);

        // Make AJAX request to submit form data
        fetch('/Movies/Create', {
            method: 'POST',
            body: formData,
            headers: {
                'Accept': 'application/json',
                'Authorization': 'Bearer ' + '@token' // Ensure token is enclosed in quotes
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Movie created successfully:', data);
                if (data.success) {
                    // Redirect to the movies index page
                    window.location.href = `/Movies?token=@token`;
                } else {
                    console.error('Error creating movie:', data.message);
                }
            })
            .catch(error => {
                console.error('Error creating movie:', error);
                // Optionally handle error here
            });
    });
</script>
