@model IEnumerable<MyHorrorMovieApp.Models.Movie>

<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horror Movies</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<div class="container">

    <body>
        <nav class="mb-4">
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li style="display: inline-block; margin-right: 10px;">
                    <form method="post" action="/logout">
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </li>
                <li style="display: inline-block; margin-right: 10px;">
                    <a href="/me" style="text-decoration: none;">
                        <button class="btn btn-primary">Profile</button>
                    </a>
                </li>
                <li style="display: inline-block; margin-right: 10px;">
                    <a href="/FriendRequests" style="text-decoration: none;">
                        <button class="btn btn-primary">Friend Requests</button>
                    </a>
                </li>
                @if ((bool)ViewData["IsAdmin"])
                {
                    <li style="display: inline-block;">
                        <a href="/Movies/Create" style="text-decoration: none;">
                            <button class="btn btn-primary">Add
                                Movie</button>
                        </a>
                    </li>
                }
            </ul>
        </nav>


        <h1 class="text-center">Movies Index</h1>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-md-6">
                    <div class="card movie-card border border-light">
                        <div class="card-header">
                            <div class="row align-items-center">
                                @* <div class="col-auto">
                            <button class="btn btn-danger" onclick="deleteMovie(@movie.Id)">X</button>
                            </div> *@
                                <div class="col text-center">
                                    <h4 class="m-0">@movie.Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="image-container" style="height: 400px; overflow: hidden;">
                                <img src="@movie.Image" class="card-img-top img-fluid" alt="@movie.Title"
                                    style="object-fit: contain; width: 100%; height: 100%;" />
                            </div>
                            <br />
                            <hr />
                            <div>
                                <a href="/Movies/Details/@movie.Id" @* ?token=@ViewData["Token"]" *@
                                    class="btn btn-primary">Movie
                                    Details</a>
                            </div>


                        </div>
                    </div>
                    <br />
                </div>

            }

        </div>





    </body>

</div>

</html>

<style>
    .card {
        background-color: #4d0000;
        color: #fff;
        margin-left: 10px;
    }

    nav.mb-4 {
        padding-left: 10px;
        padding-top: 10px;
    }

    .card-header {
        border-color: #fff;
    }

    .container {
        background-color: #121212;
        color: #fff;
        width: 100%;
    }

    body {
        background-color: #121212;
    }
</style>